<link rel="stylesheet" type="text/css" href="/public/css/gender.css">


<h1 id = "fInterns">Female Interns</h1>

<div>
  <table id="femaleTable">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Characteristics/Interests</th>
    </tr>

    {{#each femaleInterns}}

      <tr>
        <td>{{this.name}}</td>
        <td>{{this.company}}</td>
        <td>{{this.age}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>
        <td>{{this.characteristicsInterests}}</td>
      </tr>

    {{/each}}

  </table>
</div>
